{% extends "bitfit/question_types/base.html" %}

{% load static %}

{% block question %}
    <div class="col-12">
        <div class="border mb-3">
            <textarea id="code"></textarea>
        </div>

        <p>
            {% if request.user.is_authenticated %}
                <!-- <input id="save" type="button" value="Save" /> -->
                <!-- <img id="has_saved" class="hidden" src="https://png.icons8.com/color/50/000000/ok.png" /> -->
            {% endif %}
            <input id="run_code" type="button" value="Run code" class="btn btn-primary" />
        </p>
        <samp id="output"></samp>
        <div id="loading" class="hidden">
            Loading...
        </div>
        <div id="all-correct" class="hidden">
            Well done!
        </div>

        <pre id="error-output"></pre>
    </div>
{% endblock question %}

{% block scripts %}
    {{ block.super }}
    <script>
        var solution = '{{ question.solution|linebreaks }}';
    </script>
    <script src="{% static 'js/bitfit/question_types/program.js' %}"></script>
{% endblock %}
