{% extends "bitfit/question_types/base.html" %}

{% load static %}

{% block question %}
    <div class="col-12">
        <div class="border mb-3">
            <textarea id="code" class="hidden">{{ question.solution }}</textarea>
        </div>

        <p>
            {% if request.user.is_authenticated %}
                <!-- <input id="save" type="button" value="Save" /> -->
                <!-- <img id="has_saved" class="hidden" src="https://png.icons8.com/color/50/000000/ok.png" /> -->
            {% endif %}
            <input id="run_code" type="button" value="Run code" class="btn btn-primary" />
        </p>
        <samp id="output"></samp>
        <div id="loading" class="hidden">
            Loading...
        </div>
        <div id="all-correct" class="hidden">
            Well done!
        </div>

        <pre id="error-output"></pre>
    </div>

    <div class="col-12">
        <table class="table table-sm table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Input</th>
                    <th scope="col">Expected output</th>
                    <th scope="col">Received output</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for test_case in test_cases %}
                    <tr id="test-case-{{ test_case.id }}-row">
                        <td>
                            <pre class="mb-0 test-case-input" id="test-case-{{ test_case.id }}-input">{{ test_case.test_input }}</pre>
                        </td>
                        <td>
                            <pre class="mb-0" id="test-case-{{ test_case.id }}-expected-output">{{ test_case.expected_output }}</pre>
                        </td>
                        <td>
                            <pre class="mb-0 test-case-output" id="test-case-{{ test_case.id }}-output"></pre>
                        </td>
                        <td id="test-case-{{ test_case.id }}-status">
                            <span class="text-muted">
                                Not yet run
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock question %}

{% block scripts %}
    {{ block.super }}
    <script>
        var solution = '{{ question.solution|linebreaks }}';
        var test_cases_list = {{ test_cases_json|safe }};
    </script>
    <script src="{% static 'js/bitfit/question_types/program.js' %}"></script>
{% endblock %}
