{% extends "base-unbranded.html" %}

{% load static %}

{% block content_container %}
    <div id="navbar">
        <div id="home_link">
            <a class="left" href="{% url 'bitfit:home' %}">Bitfit</a>
        </div>

        {% if request.user.is_authenticated %}
        <div id="profile_link">
            <a class="left" href="{% url 'bitfit:profile' %}">Profile</a>
        </div>
        {% endif %}

        {% if request.user.is_authenticated %}
        <div id="logout_link">
            <a class="right" href="{% url 'account_logout' %}">Logout</a>
        </div>
        {% else %}
        <div id="login_link">
            <a class="right" href="{% url 'account_signup' %}">Sign Up</a>
            <a class="right" href="{% url 'account_login' %}">Login</a>
        </div>
        {% endif %}
    </div>


    <div id="content-container" class="container">
        <div class="row">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock content_container %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/bitfit.css' %}" rel="stylesheet">
{% endblock css %}
