{% extends "bitfit/base.html" %}

{% block content %}
    <div class="col-12">
        {% if questions %}
            <h2>Available Questions</h2>

            <ul>
                {% for question in questions %}
                    <li>
                        <a href="{{ question.get_absolute_url }}">
                            {{ question.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <b>Skill Areas</b>
        {% if skill_list %}
            <ul>
            {% for skill in skill_list %}
                <li>
                    <a href="{% url 'bitfit:skill' skill.id %}">{{skill.name}}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No skill areas are available (use admin site to add)</p>
        {% endif %}
    </div>
{% endblock %}
